.j-start {
    justify-content: flex-start !important;
}
.j-end {
    justify-content: flex-end !important;
}
.j-center {
    justify-content: center !important;
}
.j-between {
    justify-content: space-between !important;
}
.j-around {
    justify-content: space-around !important;
}
.a-start {
    align-items: flex-start !important;
}
.a-end {
    align-items: flex-end !important;
}
.a-center {
    align-items: center !important;
}
.a-stretch {
    align-items: stretch !important;
}
.s-start {
    align-self: flex-start !important;
}
.s-end {
    align-self: flex-end !important;
}
.s-center {
    align-self: center !important;
}
.c-start {
    align-content: flex-start !important;
}
.c-end {
    align-content: flex-end !important;
}
.c-center {
    align-content: center !important;
}
.c-between {
    align-content: space-between !important;
}