.ord-1 {
    order: 0;
}
.ord-1 {
    order: 1;
}
.ord-2 {
    order: 2;
}
.ord-3 {
    order: 3;
}
.ord-4 {
    order: 4;
}
.ord-5 {
    order: 5;
}
.ord-6 {
    order: 6;
}
.ord-7 {
    order: 7;
}
.ord-8 {
    order: 8;
}
.ord-9 {
    order: 9;
}
.ord-10 {
    order: 10;
}
.ord-11 {
    order: 11;
}
.ord-12 {
    order: 12;
}
.ord-13 {
    order: 13;
}
.ord-14 {
    order: 14;
}
.ord-15 {
    order: 15;
}
.ord-16 {
    order: 16;
}
.ord-17 {
    order: 17;
}
.ord-18 {
    order: 18;
}
.ord-19 {
    order: 19;
}
.ord-20 {
    order: 20;
}
.ord-21 {
    order: 21;
}
.ord-22 {
    order: 22;
}
.ord-23 {
    order: 23;
}
.ord-24 {
    order: 24;
}

/* XS - Extra Small Displays */
@media only screen and (min-width: 195px) and (max-width: 320px) {
    .ord-xs-1 {
        order: 0;
    }
    .ord-xs-1 {
        order: 1;
    }
    .ord-xs-2 {
        order: 2;
    }
    .ord-xs-3 {
        order: 3;
    }
    .ord-xs-4 {
        order: 4;
    }
    .ord-xs-5 {
        order: 5;
    }
    .ord-xs-6 {
        order: 6;
    }
    .ord-xs-7 {
        order: 7;
    }
    .ord-xs-8 {
        order: 8;
    }
    .ord-xs-9 {
        order: 9;
    }
    .ord-xs-10 {
        order: 10;
    }
    .ord-xs-11 {
        order: 11;
    }
    .ord-xs-12 {
        order: 12;
    }
    .ord-xs-13 {
        order: 13;
    }
    .ord-xs-14 {
        order: 14;
    }
    .ord-xs-15 {
        order: 15;
    }
    .ord-xs-16 {
        order: 16;
    }
    .ord-xs-17 {
        order: 17;
    }
    .ord-xs-18 {
        order: 18;
    }
    .ord-xs-19 {
        order: 19;
    }
    .ord-xs-20 {
        order: 20;
    }
    .ord-xs-21 {
        order: 21;
    }
    .ord-xs-22 {
        order: 22;
    }
    .ord-xs-23 {
        order: 23;
    }
    .ord-xs-24 {
        order: 24;
    }
}
/* S - Small Displays */
@media only screen and (min-width: 321px) and (max-width: 576px) {
    .ord-s-1 {
        order: 0;
    }
    .ord-s-1 {
        order: 1;
    }
    .ord-s-2 {
        order: 2;
    }
    .ord-s-3 {
        order: 3;
    }
    .ord-s-4 {
        order: 4;
    }
    .ord-s-5 {
        order: 5;
    }
    .ord-s-6 {
        order: 6;
    }
    .ord-s-7 {
        order: 7;
    }
    .ord-s-8 {
        order: 8;
    }
    .ord-s-9 {
        order: 9;
    }
    .ord-s-10 {
        order: 10;
    }
    .ord-s-11 {
        order: 11;
    }
    .ord-s-12 {
        order: 12;
    }
    .ord-s-13 {
        order: 13;
    }
    .ord-s-14 {
        order: 14;
    }
    .ord-s-15 {
        order: 15;
    }
    .ord-s-16 {
        order: 16;
    }
    .ord-s-17 {
        order: 17;
    }
    .ord-s-18 {
        order: 18;
    }
    .ord-s-19 {
        order: 19;
    }
    .ord-s-20 {
        order: 20;
    }
    .ord-s-21 {
        order: 21;
    }
    .ord-s-22 {
        order: 22;
    }
    .ord-s-23 {
        order: 23;
    }
    .ord-s-24 {
        order: 24;
    }
}
/* M - Medium Displays */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .ord-m-1 {
        order: 0;
    }
    .ord-m-1 {
        order: 1;
    }
    .ord-m-2 {
        order: 2;
    }
    .ord-m-3 {
        order: 3;
    }
    .ord-m-4 {
        order: 4;
    }
    .ord-m-5 {
        order: 5;
    }
    .ord-m-6 {
        order: 6;
    }
    .ord-m-7 {
        order: 7;
    }
    .ord-m-8 {
        order: 8;
    }
    .ord-m-9 {
        order: 9;
    }
    .ord-m-10 {
        order: 10;
    }
    .ord-m-11 {
        order: 11;
    }
    .ord-m-12 {
        order: 12;
    }
    .ord-m-13 {
        order: 13;
    }
    .ord-m-14 {
        order: 14;
    }
    .ord-m-15 {
        order: 15;
    }
    .ord-m-16 {
        order: 16;
    }
    .ord-m-17 {
        order: 17;
    }
    .ord-m-18 {
        order: 18;
    }
    .ord-m-19 {
        order: 19;
    }
    .ord-m-20 {
        order: 20;
    }
    .ord-m-21 {
        order: 21;
    }
    .ord-m-22 {
        order: 22;
    }
    .ord-m-23 {
        order: 23;
    }
    .ord-m-24 {
        order: 24;
    }
}
/* L - Large Displays */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .ord-l-1 {
        order: 0;
    }
    .ord-l-1 {
        order: 1;
    }
    .ord-l-2 {
        order: 2;
    }
    .ord-l-3 {
        order: 3;
    }
    .ord-l-4 {
        order: 4;
    }
    .ord-l-5 {
        order: 5;
    }
    .ord-l-6 {
        order: 6;
    }
    .ord-l-7 {
        order: 7;
    }
    .ord-l-8 {
        order: 8;
    }
    .ord-l-9 {
        order: 9;
    }
    .ord-l-10 {
        order: 10;
    }
    .ord-l-11 {
        order: 11;
    }
    .ord-l-12 {
        order: 12;
    }
    .ord-l-13 {
        order: 13;
    }
    .ord-l-14 {
        order: 14;
    }
    .ord-l-15 {
        order: 15;
    }
    .ord-l-16 {
        order: 16;
    }
    .ord-l-17 {
        order: 17;
    }
    .ord-l-18 {
        order: 18;
    }
    .ord-l-19 {
        order: 19;
    }
    .ord-l-20 {
        order: 20;
    }
    .ord-l-21 {
        order: 21;
    }
    .ord-l-22 {
        order: 22;
    }
    .ord-l-23 {
        order: 23;
    }
    .ord-l-24 {
        order: 24;
    }
}
/* XL - Extra Large Displays */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .ord-xl-1 {
        order: 0;
    }
    .ord-xl-1 {
        order: 1;
    }
    .ord-xl-2 {
        order: 2;
    }
    .ord-xl-3 {
        order: 3;
    }
    .ord-xl-4 {
        order: 4;
    }
    .ord-xl-5 {
        order: 5;
    }
    .ord-xl-6 {
        order: 6;
    }
    .ord-xl-7 {
        order: 7;
    }
    .ord-xl-8 {
        order: 8;
    }
    .ord-xl-9 {
        order: 9;
    }
    .ord-xl-10 {
        order: 10;
    }
    .ord-xl-11 {
        order: 11;
    }
    .ord-xl-12 {
        order: 12;
    }
    .ord-xl-13 {
        order: 13;
    }
    .ord-xl-14 {
        order: 14;
    }
    .ord-xl-15 {
        order: 15;
    }
    .ord-xl-16 {
        order: 16;
    }
    .ord-xl-17 {
        order: 17;
    }
    .ord-xl-18 {
        order: 18;
    }
    .ord-xl-19 {
        order: 19;
    }
    .ord-xl-20 {
        order: 20;
    }
    .ord-xl-21 {
        order: 21;
    }
    .ord-xl-22 {
        order: 22;
    }
    .ord-xl-23 {
        order: 23;
    }
    .ord-xl-24 {
        order: 24;
    }
}
/* H - Huge Displays */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .ord-h-1 {
        order: 0;
    }
    .ord-h-1 {
        order: 1;
    }
    .ord-h-2 {
        order: 2;
    }
    .ord-h-3 {
        order: 3;
    }
    .ord-h-4 {
        order: 4;
    }
    .ord-h-5 {
        order: 5;
    }
    .ord-h-6 {
        order: 6;
    }
    .ord-h-7 {
        order: 7;
    }
    .ord-h-8 {
        order: 8;
    }
    .ord-h-9 {
        order: 9;
    }
    .ord-h-10 {
        order: 10;
    }
    .ord-h-11 {
        order: 11;
    }
    .ord-h-12 {
        order: 12;
    }
    .ord-h-13 {
        order: 13;
    }
    .ord-h-14 {
        order: 14;
    }
    .ord-h-15 {
        order: 15;
    }
    .ord-h-16 {
        order: 16;
    }
    .ord-h-17 {
        order: 17;
    }
    .ord-h-18 {
        order: 18;
    }
    .ord-h-19 {
        order: 19;
    }
    .ord-h-20 {
        order: 20;
    }
    .ord-h-21 {
        order: 21;
    }
    .ord-h-22 {
        order: 22;
    }
    .ord-h-23 {
        order: 23;
    }
    .ord-h-24 {
        order: 24;
    }
}
/* XH - Extra Huge Displays */
@media only screen and (min-width: 1400px) {
    .ord-xh-1 {
        order: 0;
    }
    .ord-xh-1 {
        order: 1;
    }
    .ord-xh-2 {
        order: 2;
    }
    .ord-xh-3 {
        order: 3;
    }
    .ord-xh-4 {
        order: 4;
    }
    .ord-xh-5 {
        order: 5;
    }
    .ord-xh-6 {
        order: 6;
    }
    .ord-xh-7 {
        order: 7;
    }
    .ord-xh-8 {
        order: 8;
    }
    .ord-xh-9 {
        order: 9;
    }
    .ord-xh-10 {
        order: 10;
    }
    .ord-xh-11 {
        order: 11;
    }
    .ord-xh-12 {
        order: 12;
    }
    .ord-xh-13 {
        order: 13;
    }
    .ord-xh-14 {
        order: 14;
    }
    .ord-xh-15 {
        order: 15;
    }
    .ord-xh-16 {
        order: 16;
    }
    .ord-xh-17 {
        order: 17;
    }
    .ord-xh-18 {
        order: 18;
    }
    .ord-xh-19 {
        order: 19;
    }
    .ord-xh-20 {
        order: 20;
    }
    .ord-xh-21 {
        order: 21;
    }
    .ord-xh-22 {
        order: 22;
    }
    .ord-xh-23 {
        order: 23;
    }
    .ord-xh-24 {
        order: 24;
    }
}